<div class="row padding-first-element">
  <h1>Géneros disponibles</h1>
  <hr>
  <% if @has_permission %>
    <%= link_to 'Crear género', new_genre_path, :class => 'btn btn-primary btn-title' %>
  <% end%>
</div>

<div class="row">
  <%= render '_search/bar', search_path: genres_path %>
</div>

<div class="row padding-first-element">


  <% if @genres.length > 0 then %>

    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @genres.each do |genre| %>
          <tr class="tr-no-image"><td><%= link_to genre.name, genre %></td></tr>
        <% end %>
      </tbody>
    </table>

  <% else %>
      <p>
        No hay géneros para mostrar
      </p>
  <% end %>

</div>