<h1> Index de artistas </h1>

<ul>
  <% if @artists.length > 0 then %>
    <% @artists.each do |artist| %>
    <li>
      <%= artist.name %>
      |
      <%= link_to 'Mostrar', artist %>
    </li>
    <% end %>
  <% else %>
      <p>
        No hay artistas para mostrar
      </p>
  <% end %>
</ul>

<% if @has_create_permission %>
  <%= link_to 'Crear artista', new_artist_path %>
<% end%>
