<% if errors.any? %>
  <% if show_just_one %>
    <%= errors.first[0] %>
    <%= errors.first[1] %>
  <% else %>
    <ul>
      <% errors.each do |attr, msg| %>
      <li>
        <%= attr %> <%= msg %>
      </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
