<div class="row padding-first-element">
  <h1> Usuarios registrados</h1>
  <hr>
</div>

<div class="row padding-first-element">
    <% if @users.length > 0 then %>
      <table class="table table-striped table-hover ">
        <thead>
        <tr>
          <th class="col-xl-1 col-lg-1 col-md-2 col-sm-4">Foto</th>
          <th>Nombre</th>
        </tr>
        </thead>

        <tbody>

          <% @users.each do |user| %>
            <tr>
              <td class="col-xl-1 col-lg-1 col-md-2 col-sm-4">
                <img src="<%= (user.photo.blank? ? asset_path('user-default.png') : user.photo) %>"
                     class="img-thumbnail rounded float-left custom-thumbnail" alt="thumbnail" />
              </td>
              <td><%= link_to (user.first_name.capitalize + ' ' + user.last_name), user  %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    <% else %>
        <p>
          No hay usuarios para mostrar
        </p>
    <% end %>
</div>