<h1> Index de usuarios </h1>

<ul>
  <% if @users.length > 0 then %>
    <% @users.each do |user| %>
      <li>
        <%= user.first_name %>
        <%= user.last_name %>
        |
        <%= link_to 'Mostrar', user %>
      </li>
    <% end %>
  <% else %>
      <p>
        No hay usuarios para mostrar
      </p>
  <% end %>
</ul>
