<!-- Display news
  provide: 'news', 'item_id' -->

<% if !news.nil? && news.any? %>
  <ul>
    <% news.each do |news_item| %>
      <li>
        <img src="<%= news_item.image_src %>" class="img-thumbnail rounded float-left custom-thumbnail" alt="news thumbnail">
        <strong><%= link_to news_item.title, news_item %></strong>
        <%= news_item.created_at.strftime("%Y-%b-%d %H:%M") %>
        <p><%= news_item.content %></p>
      </li>
      <hr>
    <% end %>
  </ul>
<% else %>
    <p>
      No hay noticias
    </p>
<% end %>
