<!-- Display a list to choose between songs
  must exist: @all_songs, existing_songs
 -->

<div>
  <h3>Elegir canción (es):</h3>
  <% if @all_songs.any? %>
    <% @all_songs.each do |song| %>
      <%= check_box_tag("all_songs[]", song.id, is_in?(existing_songs, song) ) %>
      <%= label_tag(:all_songs, song.name) %>
      <br> <!-- HACK: use CSS!!! -->
    <% end %>
  <% else %>
      <p>
        No hay canciones para elegir
      </p>
  <% end %>
</div>
