<h1> Canciones </h1>

<ul>
  <% if @songs.length > 0 then %>
    <% @songs.each do |song| %>
    <li>
      <%= song.name %>
      |
      <%= link_to 'Mostrar', song %>
      |
      <%= render '_favorites/update',
        item: song,
        can_add_favorite: Proc.new { |user, song| can_add_favorite_song(user, song) },
        can_remove_favorite: Proc.new { |user, song| can_remove_favorite_song(user, song) },
        add_favorite_item_path: Proc.new { |user, song| add_favorite_song_path(user, song) },
        remove_favorite_item_path: Proc.new { |user, song| remove_favorite_song_path(user, song) }
        %>
    </li>
    <% end %>
  <% else %>
      <p>
        No hay canciones para mostrar
      </p>
  <% end %>
</ul>

<% if @has_create_permission %>
  <%= link_to 'Crear canción', new_song_path %>
<% end%>
