<!-- Display comments
  provide: 'comments', 'item_id' -->

<h3>Comentarios:</h3>
<% if comments.any? %>
  <% comments.each do |comment| %>
    <li>
      <%= comment.user.first_name %>:
      <br>
      <%= comment.content %>
      <br>
      <% if can_remove_comment(comment) %>
        <%= link_to 'Borrar comentario', remove_comment_song_path(item_id, comment.id), method: :delete %>
      <% end %>
    </li>
  <% end %>
<% else %>
    <p>
      No hay comentarios
    </p>
<% end %>
