<%# Index snippet for albums
  provide: albums %>

<% if albums.any? %>
  <ul class="ul-no-bullet">
    <% albums.each do |album| %>
      <li>
        <img src="<%= album.image %>" alt="photo">
        <%= link_to album.name, album %>
      </li>
    <% end %>
  </ul>
<% else %>
    <p>
      Sin álbumes
    </p>
<% end %>
