<!-- New wall message -->

<% if has_create_permission %>
  <%= form_for(:wall_message, method: :post, url: new_wall_message_path(@user), :html => {
      :class => 'form-horizontal wall-post' }) do |f| %>
    <fieldset>
      <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <%= f.text_area :message, :class => 'form-control wall-textinput',
                        :placeholder => 'Escribe un mensaje al muro de ' + @user.first_name + '...',
                        :rows => '4' %>
      </div>
      <div class="form-group col-lg-10 col-lg-offset-2">
        <%= f.submit "Publicar", :class => "btn btn-primary" %>
      </div>
    </fieldset>
    <% end %>
<% end %>
