/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body
{
    padding-top: 50px;
}

.page-header h1 {
    font-size: 4em;
}

.page-header {
    /*border-bottom: none;*/
}

.font-bold {
    font-weight: bold;
}

.padding-first-row {
    padding-top: 50px;
}

.padding-first-element {
    padding-top: 30px;
}

.wall-post-element-padding {
    padding-left: 5px;
}

.custom-thumbnail {
    display: block;
    width: 120px;
    max-height: 150px;
    height: auto;
}

.vertical-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.profile-image {
    display: block;
    height: 300px;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.ul-no-bullet {
	list-style-type: none;
	padding: 0;
	margin: 0;
	padding-left: 10px;
}

.custom-footer {
    padding-bottom: 50px;
    padding-top: 20px;
}

.logo {
    max-height: 120px;
    width: auto;
    filter: grayscale(100%);
}

.btn-title {
    margin-top: 8px;
}

.tr-no-image {
    height: 60px;
}

.wall-textinput {
    resize: none;
}

.wall-post {
    margin-top: 50px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #eeeeee;
    border-radius: 4px;

}

.follows-thumbnail {
    height: 125px;
    overflow: hidden;
}

.admin-index-button-row {
    margin-left: 30px;
}

#main-page-container {
    min-height: 100vh;
}

#footer-logo-row {
    padding-top: 50px;
}