<h3>Noticias de tus artistas favoritos:</h3>
<%= render 'news/index-snippet', news: @artists_news %>


<h3>Noticias de tus albumes favoritos:</h3>
<%= render 'news/index-snippet', news: @albums_news %>


<h3>Noticias de tus canciones favoritas:</h3>
<%= render 'news/index-snippet', news: @songs_news %>
