<h1>Bienvenido a MusicApp29!!</h1>

<%= link_to "Ver Usuarios", users_path %>
<br>  <!-- HACK: use css !! -->
<%= link_to "Ver Artistas", artists_path %>
<br>
<%= link_to "Ver Canciones", songs_path %>
<br>
<%= link_to "Ver Géneros", genres_path %>
